<div class="container">
  <button class="btn btn-primary mt-3" (click)="product()"> Add new product</button>
  <table class="table table-bordered mt-5">
   
        <thead>
          <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Quality</th>
          <th>Quantity</th>
          <th>Action</th>
        </tr>
        </thead>

    <tbody>
      <tr>
        <td>1</td>
        <td>Mango</td>
        <td>three</td>
        <td>Good</td>
        <td>
          <button class=" btn btn-primary">Edit</button>
          <button class=" btn btn-danger mx-2">Delete</button>
          <button class=" btn btn-primary mx-2">View</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
